<div class="container">
    <h2>Add New Product</h2>
    <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
    
      <div class="form-group">
        <label for="Product">Product Name:</label>
        <input type="text" class="form-control" id="text" placeholder="Enter Product Name" name="Product" ngModel required />
      </div>
      <div class="form-group">
        <label for="Quntity">Quntity:</label>
        <input type="number" class="form-control" id="number" placeholder="Enter Quntity" name="Quntity" ngModel>
      </div>
      <div class="form-group">
          <label for="discription">General Discription:</label>
          <input type="text" class="form-control" id="text" placeholder="Enter Discription" name="discription" ngModel required />
        </div>
      <button type="submit" class="btn btn-primary">Add</button>
    </form>
  </div>
  
