<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" routerLink="">dashbord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="product">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="sale">Sale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="about">About</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>