<div class="row">
 <div class="container">
<button class="nav-link btnAdd btn btn-info" routerLink="/add-form">Add New Product</button>
</div>
</div><br>
<div class="row">
<div class="col-md-6">  
  <h2> Products</h2>  
  <div class="table-responsive table-container">  
    <table class="table">  
      <thead>  
        <tr>  
          <th>Id</th>  
          <th>Product Name</th>  
          <th>Discription</th>   
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let p of product">  
          <td class="hidden">{{p.id}}</td>  
          <td>{{p.Product}}</td>  
          <td>{{p.discription}}</td>    
          <td>  
            <button (click)="deleteEmp(p)" class="btn btn-info"> Delete</button>  
            <button (click)="editEmp(p)" style="margin-left: 20px;" class="btn btn-info"> Edit</button>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div>  
</div>
<div class="col-md-6">
  <div class="container">
    <h2>Add New Product</h2>
    <form name="form" (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
    
      <div class="form-group">
        <label for="Product">Product Name:</label>
        <input type="text" class="form-control" id="text" placeholder="Enter Product Name" name="Product" [(ngModel)]="model.Product" required />
      </div>
      <div class="form-group">
        <label for="Quntity">Quntity:</label>
        <input type="number" class="form-control" id="number" placeholder="Enter Quntity" name="Quntity" [(ngModel)]="model.Quntity">
      </div>
      <div class="form-group">
          <label for="discription">General Discription:</label>
          <input type="text" class="form-control" id="text" placeholder="Enter Discription" name="discription" [(ngModel)]="model.discription" required />
        </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
  </div>
  

</div>  
</div>
<!-- </div> -->